<a href="https://colab.research.google.com/github/hhhursh/ADS-LABS/blob/main/ADS_Exp_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#Drop

In [ ]:
drop = pd.read_csv('drop.csv')

In [ ]:
drop.size, drop.isna().sum()

(419056,
 OwnerID             0
 PostType            0
 PostDate            0
 Height              0
 Width               0
 PostItemType        0
 LikeCount           0
 ViewCount           0
 Tags            36553
 Mentions        20661
 Location        37052
 dtype: int64)

In [ ]:
drop.drop(['Tags', 'Mentions', 'Location'], axis=1, inplace=True)
drop.isna().sum()

OwnerID         0
PostType        0
PostDate        0
Height          0
Width           0
PostItemType    0
LikeCount       0
ViewCount       0
dtype: int64

#Mean

In [ ]:
mean = pd.read_csv('mean.csv')

In [ ]:
mean.dtypes

MOVIES       object
GENRE        object
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [ ]:
mean.isna().sum()

MOVIES         0
GENRE         80
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9537
dtype: int64

In [ ]:



meanVals = mean.mean()
print('Mean Befor Replacement: ', mean.RunTime.mean())
print('Std Dev Befor Replacement: ', mean.RunTime.std())

mean.fillna(meanVals, inplace=True)
print('Mean After Replacement: ', mean.RunTime.mean())
print('Std Dev After Replacement: ', mean.RunTime.std())
mean.isna().sum()

Mean Befor Replacement:  76.69010083794916
Std Dev Befor Replacement:  599.9501250340841
Mean After Replacement:  76.69010083794915
Std Dev After Replacement:  590.8567458692513

<ipython-input-61-228538afaf75>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meanVals = mean.mean()

MOVIES         0
GENRE         80
ONE-LINE       0
STARS          0
VOTES       1820
RunTime        0
Gross       9537
dtype: int64

#Multiple

In [ ]:
!pip install miceforest

Collecting miceforest
  Downloading miceforest-5.7.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.2/58.2 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: lightgbm>=3.3.1 in /usr/local/lib/python3.10/dist-packages (from miceforest) (4.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from miceforest) (1.23.5)
Collecting blosc (from miceforest)
  Downloading blosc-1.11.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 15.6 MB/s eta 0:00:00
Collecting dill (from miceforest)
  Downloading dill-0.3.8-py3-none-any.whl (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 14.6 MB/s eta 0:00:00
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest) (1.11.4)
Installing collected packages: dill, blosc, miceforest
Successfully installed blosc-1.11.1 dill-0.3.8 miceforest-5.7.0

In [ ]:
multiple  = pd.read_csv('multiple.csv', nrows=100)

In [ ]:
multiple.isna().sum()

Call Failure               10
Complaints                 10
Subscription Length        10
Charge Amount              10
Seconds of Use             16
Frequency of use           12
Frequency of SMS           13
Distinct Called Numbers    14
Age Group                  21
Tariff Plan                19
Status                     14
Age                        16
Customer Value             13
Churn                       0
dtype: int64

In [ ]:
from miceforest import ImputationKernel

mice_kernel = ImputationKernel(
  data = multiple,
  save_all_iterations = True,
  random_state = 2023
)
mice_kernel.mice(2)
mice_imputation = mice_kernel.complete_data()

In [ ]:
mice_imputation.isna().sum()

Call Failure               0
Complaints                 0
Subscription Length        0
Charge Amount              0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

# KNN

In [ ]:
knn = pd.read_csv('knn.csv')

In [ ]:
knn.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
type_sports          object
veggies_day          object
vitamins              int64
waffle_calories       int64
weight               object
Unnamed: 10          object
dtype: object

In [ ]:
knn.drop(['GPA', 'type_sports', 'veggies_day', 'weight', 'Unnamed: 10'], axis=1, inplace=True)

knn.dtypes

Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
vitamins              int64
waffle_calories       int64
dtype: object

In [ ]:
knn.isna().sum()

Gender               0
breakfast            0
calories_chicken     0
calories_day        19
vitamins             0
waffle_calories      0
dtype: int64

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)
new_knn = imputer.fit_transform(knn)

new_knn = pd.DataFrame(new_knn, columns=knn.columns)
new_knn.isna().sum()

Gender              0
breakfast           0
calories_chicken    0
calories_day        0
vitamins            0
waffle_calories     0
dtype: int64

In [ ]:
print('Mean Befor Replacement: ', knn.calories_day.mean())
print('Mean After Replacement: ', new_knn.calories_day.mean())
print('Std Dev Befor Replacement: ', knn.calories_day.std())
print('Std Dev After Replacement: ', new_knn.calories_day.std())

Mean Befor Replacement:  3.0283018867924527
Mean After Replacement:  3.02
Std Dev Befor Replacement:  0.6393083639268943
Std Dev After Replacement:  0.6037517114114528

# Next/Previous

In [ ]:
next_prev = pd.read_csv('next_prev.csv')

In [ ]:
next_prev.isna().sum()

rank            0
name            0
channel_Info    5
Category        7
Posts           0
Followers       0
Avg. Likes      0
Eng Rate        0
dtype: int64

In [ ]:
def next_value_imputation(column):
    return column.fillna(method='ffill')

def previous_value_imputation(column):
    return column.fillna(method='bfill')

next_prev['channel_Info'] = next_value_imputation(next_prev['channel_Info'])
next_prev['Category'] = previous_value_imputation(next_prev['Category'])

next_prev.isna().sum()

rank            0
name            0
channel_Info    0
Category        0
Posts           0
Followers       0
Avg. Likes      0
Eng Rate        0
dtype: int64